---
import FicheLayout from "../../layouts/FicheLayout.astro";
import {getCollection} from "astro:content";    
import type { CollectionEntry } from "astro:content";

const allReadingNotes = await getCollection("readingNotes");
const uniqueContributors = [...new Set(allReadingNotes.map(readingNote => readingNote.data.contributor))];
const title = `Tous·tes les contributeur·ices`;
---
<FicheLayout pageTitle={title}>
    <h1>{title}</h1>

    <ul>
        {
            uniqueContributors
                .sort((contributorA, contributorB) => contributorA.localeCompare(contributorB))
                .map(contributor => (
                        <li>
                            <a href=`/contributors/${contributor}`>
                                {contributor}
                                ({
                                allReadingNotes.filter(readingNote => readingNote.data.contributor === contributor).length
                                })
                            </a>
                        </li>
                ))
        }
    </ul>
</FicheLayout>