---
import FicheLayout from "../../layouts/FicheLayout.astro";
import {getCollection} from "astro:content";
import type { CollectionEntry } from "astro:content";

const allReadingNotes:CollectionEntry<"readingNotes">[] = await getCollection("readingNotes");
const uniqueTags = [...new Set(allReadingNotes.map(readingNote => readingNote.data.tags).flat())];
const title = `Tous les tags`
---
<FicheLayout pageTitle={title}>
    <h1>{title}</h1>

    <ul>
        {
            uniqueTags
                .sort((tagA, tagB) => tagA.localeCompare(tagB))
                .map(tag => (
                    <li>
                        <a href=`/tags/${tag}`>
                            {tag}
                            ({
                                allReadingNotes.filter(readingNote => readingNote.data.tags.includes(tag)).length
                            })
                        </a>
                    </li>
            ))
        }
    </ul>
</FicheLayout>