---
import {getCollection} from "astro:content";
const allFiches = await getCollection("summaries");
const allTags = [...new Set(allFiches.map(fiche => fiche.data.tags).flat())];
const allAuthors = [...new Set(allFiches.map(fiche => fiche.data.author).flat())];
---
<div>
    <h1>
        <a href="/">
            Accueil
        </a>
    </h1>
    <h1 class="sr-only">Navigation</h1>
    <nav role="navigation" aria-label="Navigation par tags">
        <h2>Par tags</h2>
        <ul>
            {allTags.length === 0 &&
                    <li>Aucun tag</li>}
            {allTags.length > 0 && (
                allTags
                    .sort((tagA, tagB) => (tagA.localeCompare(tagB)) || 0)
                    .map((tag) => (
                            <li class="tag">
                                <a href={`/tags/${tag}`}>
                                    {tag}
                                </a>
                            </li>
                    ))
            )}
        </ul>
    </nav>
    <nav role="navigation" aria-label="Navigation par bénévole">
        <h2>Par bénévole</h2>
        <ul>
            {allAuthors.length === 0 &&
                    <li>Aucun tag</li>}
            {allAuthors.length > 0 && (
                allAuthors
                    .sort((authorA, authorB) => (authorA.localeCompare(authorB)) || 0)
                    .map((author) => (
                            <li>
                                <a href={`/authors/${author}`}>
                                    {author}
                                </a>
                            </li>
                    ))
            )}
        </ul>
    </nav>
</div>

<style>
    ul {
        padding: 0;
        margin: 0;

        li {
            margin: 1rem 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }
</style>