---
import {getCollection, render} from 'astro:content';
import FicheLayout from "../../layouts/FicheLayout.astro";
import {format} from "date-fns";
import TagsList from "@/components/tags/TagsList.astro";

export async function getStaticPaths() {
    const fiches = await getCollection('readingNotes');
    return fiches.map(fiche => ({
        params: {slug: fiche.id},
        props: {fiche}
    }))
}

const {fiche} = Astro.props;

const {Content} = await render(fiche);
---
<FicheLayout pageTitle={fiche.data.bookTitle}>
    <div class="fiche-header">
        <header role="banner">
            {
                fiche.data.image && <img src={fiche.data.image.url} alt={fiche.data.image.alt || ""}/>
            }
            <div class="title-wrapper">
                <h1 data-pagefind-meta="title">
                    {fiche.data.bookTitle} 
                </h1>
            </div>
        </header>
        <div class="additional-info">
            <div class="block author-block">
                <h2>Auteur·ice</h2>
                {
                    fiche.data.bookAuthors.length === 1 &&
                        <span data-pagefind-meta="authors">{fiche.data.bookAuthors[0]}</span>
                }
                {
                    fiche.data.bookAuthors.length > 1 &&
                        <ul data-pagefind-meta=`authors:${fiche.data.bookAuthors.join("$$")}`>
                            {
                                fiche.data.bookAuthors.map((author: string) =>
                                        <li>{author}</li>)
                            }
                        </ul>
                }
            </div>
            <div class="block published-year-block">
                <h2>Année</h2>
                <span data-pagefind-meta="published-year">
                {
                    fiche.data.publishedYear
                }
                </span>
            </div>
            <div class="block tags-block" data-pagefind-meta={`tags:${fiche.data.tags.join("$$")}`}>
                <h2>Tags</h2>
                <TagsList tags={fiche.data.tags}/>
            </div>
        </div>
        <div class="summary">
            <h2>Résumé</h2>
            <div data-pagefind-meta="summary">
            {fiche.data.summary}
            </div>
        </div>
    </div>
    <div class="divider divider-primary"></div>
    <div class="fiche-body">
        <Content/>
    </div>
    <footer class="fiche-footer" role="contentinfo">
        Fiche rédigée par <span data-pagefind-meta="collaborator">{fiche.data.contributor}</span>,
        dernière modification le {format(fiche.data.lastModification, "dd/MM/yyyy")}.
    </footer>
</FicheLayout>